<div class="projects_detail">
  <% @projects.each do |project| %>
    <div class="project" id="<%= project_anchor(project) %>">
      <div class="project_name">
        <%= project_status_icon(project) %>
        <%= link_to project.name, { anchor: project_anchor(project) }, 'data-turbolinks' => false %>
      </div>
      <table width="100%">
        <tr>
          <% project.stages.ordered.each_cons(2) do |ahead, behind| %>
            <%= render partial: 'stage', locals: { stage: ahead, fully_released: project.fully_released? } %>
            <%
              comparison = project.snapshot&.comparisons&.detect{|c| c.behind_stage_id == behind.id && c.ahead_stage_id == ahead.id }
            %>
            <td class="project_comparison" data-unknown="<%= comparison.nil? %>" data-released="<%= comparison&.released? %>">
              <% if comparison && !comparison.released? %>
                <ul>
                  <% comparison.description.each do |line| %>
                    <li><%= gravatar_from_log_line(line) %> <%= render_log_line(project, line) %></li>
                  <% end %>
                </ul>
              <% end %>
            </td>
          <% end %>
          <%= render partial: 'stage', locals: { stage: project.stages.ordered.last, fully_released: project.fully_released? } %>
        </tr>
      </table>
    </div>
  <% end %>
</div>
