<div class="projects_dashboard">
  <h1>Out of sync</h1>

  <div class="todo">
    <% @presenter.unreleased_projects.each do |project| %>
      <div class="project <%= healthy_count_class(project.severity) %>">
        <h2><%= project.name.titleize %></h2>
        <p><%= project.description %></p>
        <div class="error_message"><%= project.snapshot&.error_message %></div>
        <div class="comparisons">
          <% project.compared_stages.each do |ahead, behind, comparison, severity| %>
            <% if comparison %>
              <div class="comparison <%= healthy_count_class(severity) %>">
                <div class="stage">
                  <div class="circle"></div>
                  <%= behind.name.titleize %><br />
                </div>
                <div class="changes">
                  <% if comparison.released? %>
                    Up to date
                  <% else %>
                    <%= link_to \
                      "#{pluralize(comparison.description.length, 'commit')} behind",
                      params.permit(:organization_id, :view).merge(view: 'detail', anchor: project_anchor(project)),
                      'data-turbolinks' => false,
                      title: "(score: #{severity})"
                    %>
                  <% end %>
                </div>
                <div class="who">
                  <%= comparison.description.map { |line| first_name_from_log(line).titleize }.uniq.to_sentence %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h1 style="padding-top:30px;">Up to date</h1>

  <div class="released">
    <% @presenter.released_projects.each do |project| %>
      <div class="released-project">
      <h2><div class="circle green"></div><%= project.name.titleize %></h2>
      <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
</div>
