<div class="projects_dashboard">
  <h1>Out of sync</h1>

  <div class="todo">
    <% @projects.reject(&:fully_released?).sort_by(&:total_comparison_size).reverse.each do |project| %>
      <div class="project <%= healthy_count_class project.total_comparison_size %>">
        <h2><%= project.name.titleize %></h2>
        <p><%= project.description %></p>
        <div class="comparisons">
          <% project.stages.ordered.each_cons(2) do |ahead, behind| %>
            <% if comparison = project.snapshot&.comparisons&.detect{ |c| c.behind_stage_id == behind.id && c.ahead_stage_id == ahead.id } %>
              <div class="comparison <%= healthy_count_class comparison.comparison_size %>">
                <div class="stage">
                  <div class="circle"></div>
                  <%= behind.name.titleize %><br />
                </div>
                <div class="changes">
                  <% if comparison.released? %>
                    Up to date
                  <% else %>
                    <%= link_to \
                      "#{pluralize(comparison.description.length, 'commit')} behind",
                      params.permit(:organization_id).merge(view: 'detail', anchor: project_anchor(project)),
                      'data-turbolinks' => false
                    %>
                  <% end %>
                </div>
                <div class="who">
                  <%= comparison.description.map { |line| first_name_from_log(line).titleize }.uniq.to_sentence %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h1 style="padding-top:30px;">Up to date</h1>

  <div class="released">
    <% @projects.select(&:fully_released?).each do |project| %>
      <div class="released-project">
      <h2><div class="circle green"></div><%= project.name.titleize %></h2>
      <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
</div>
