
<link rel="stylesheet" type="text/css" href="https://webfonts.artsy.net/unica-webfonts.css" />
<style type="text/css">
body {
  font-family: "Unica77LLWebRegular"
}

h1 {
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  clear: both;
  margin: 30px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

p {
  margin-top: -4px;
  font-size: 14px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
}

.todo {
  clear: both;
}

.todo .project {
  border: 1px solid #E5E5E5;
  padding: 16px;
  width: calc(286px - 32px);
  height: calc(269px - 32px);
  margin: 30px;
  margin-top: 0;
  float: left;
}

.todo .project.red {
  border: 1px solid #F7625A;
}

.todo .project h2 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.todo .project .comparison {
  margin-bottom: 0px;
  margin-right: 16px;
  min-height: 40px;
  background: url(/assets/arrow-d9bccef77260cf5af9399ae03a67b3e0f78b0ab67a81224e6dab827ba2ffbe4c.svg) 0.5px 20px no-repeat;
  height: 91px;
  padding-left: 1px;
}

.todo .project .comparisons .comparison:last-child {
  background: none;
}

.todo .project a {
  color: inherit;
  text-decoration: inherit;
}

.todo .project .release {
  font-weight: bold;
}

.todo .project .who {
  margin-left: 26px;
  color: #666666;
}

.todo .project .no-changes {
  margin-left: 26px;
}

.todo .project .changes {
  margin-left: 26px;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px; 
  margin-bottom: 3px;
  background-color: #0FDB82;
  display: inline-block;
  margin-right: 16px;
}


.circle.green {
  background-color: #0FDB82;
}

.circle.yellow {
  background-color: #F1AF1B;
}

.circle.red {
  background-color: #F7625A;
}

.released-project {
  border: 1px solid #E5E5E5;
  padding: 16px;
  width: calc(286px - 32px);
  height: calc(75px - 32px);
  margin: 30px;
  margin-top: 0;
  float: left;
}

.todo .circle {
  margin-bottom: 0px;
}

.released-project h2 {
  padding: 0;
  margin: 0;
  margin-top: -4px;
}

.released-project p {
  margin-top: 3px;
}

</style>


<h1>Out of sync</h1>

<div class="todo">
  <% @todo = @projects.reject(&:fully_released?).sort_by { |p| p.snapshot&.comparisons&.map { |c| c.description.length }.sum }.reverse %>
  <% @todo.each do |project| %>
    <% commits = project.snapshot&.comparisons&.map { |c| c.description.length }.sum  %>
    <div class="project <%= commits > 10 ? "red" : ""%> ">
      
      <h2><%= project.name.titleize %></h2>
      <p><%= project.description %></p>
      <div class="comparisons">
        <% project.stages.ordered.each_cons(2) do |ahead, behind| %>
          <% comparison = project.snapshot&.comparisons&.detect{ |c| c.behind_stage_id == behind.id && c.ahead_stage_id == ahead.id } %>
          <% if comparison %>
            <div class="comparison">
              <% commit_length = comparison.description.length %>
              <% circle_color = commit_length == 0 ? "green" : commit_length > 10 ? "red": "yellow" %>
              <div class="release"><div class="circle <%= circle_color %>"></div><%= behind.name.titleize %><br /></div>
              <% if comparison.released? %>
                <div class="no-changes">Up to date</div>
              <% else %>
                <div class="changes">
                  <% message = commit_length.to_s + (commit_length > 1 ? " commits behind" : " commit behind")  %>
                  <%= link_to message, params.permit(:organization_id).merge(view: 'detail', anchor: project_anchor(project)), 'data-turbolinks' => false %>
                </div>
                <div class="who"><%= comparison.description.map { |line| first_name_from_log(line).titleize }.uniq.to_sentence %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h1>Up to date</h1>

<div class="released">
  <% @projects.select(&:fully_released?).each do |project| %>
    <div class="released-project">
    <h2><div class="circle green"></div><%= project.name.titleize %></h2>
    <p><%= project.description %></p>
    </div>
  <% end %>
</div>
