<div class="projects_dashboard">
  <h1>Out of sync</h1>

  <div class="todo">
    <% @todo = @projects.reject(&:fully_released?).sort_by { |p| p.snapshot&.comparisons&.map { |c| c.description.length }.sum }.reverse %>
    <% @todo.each do |project| %>
      <% commits = project.snapshot&.comparisons&.map { |c| c.description.length }.sum  %>
      <div class="project <%= commits > 10 ? "red" : "" %> ">
        <h2><%= project.name.titleize %></h2>
        <p><%= project.description %></p>
        <div class="comparisons">
          <% project.stages.ordered.each_cons(2) do |ahead, behind| %>
            <% comparison = project.snapshot&.comparisons&.detect{ |c| c.behind_stage_id == behind.id && c.ahead_stage_id == ahead.id } %>
            <% if comparison %>
              <div class="comparison">
                <% commit_length = comparison.description.length %>
                <% circle_color = commit_length == 0 ? "green" : commit_length > 10 ? "red": "yellow" %>
                <div class="release"><div class="circle <%= circle_color %>"></div><%= behind.name.titleize %><br /></div>
                <% if comparison.released? %>
                  <div class="no-changes">Up to date</div>
                <% else %>
                  <div class="changes">
                    <% message = commit_length.to_s + (commit_length > 1 ? " commits behind" : " commit behind")  %>
                    <%= link_to message, params.permit(:organization_id).merge(view: 'detail', anchor: project_anchor(project)), 'data-turbolinks' => false %>
                  </div>
                  <div class="who"><%= comparison.description.map { |line| first_name_from_log(line).titleize }.uniq.to_sentence %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h1 style="padding-top:30px;">Up to date</h1>

  <div class="released">
    <% @projects.select(&:fully_released?).each do |project| %>
      <div class="released-project">
      <h2><div class="circle green"></div><%= project.name.titleize %></h2>
      <p><%= project.description %></p>
      </div>
    <% end %>
  </div>
</div>
